@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my site</h1>

</div>
@using (Html.BeginForm("Index", "DotNet"))
{

    <input type="submit" value="DotNet" />

}  